<p id="notice"><%= notice %></p>

<p>
  <strong>Ins name:</strong>
  <%= @instructor.Ins_name %>
</p>

<p>
  <strong>F name:</strong>
  <%= @instructor.F_name %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @instructor.Cell %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.Email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @instructor.department %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
