<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.Course_name %>
</p>

<p>
  <strong>Cs duration:</strong>
  <%= @course.CS_duration %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
